<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duy.flashcard_v10" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".RssService" />
        <activity
            android:name=".RssMainActivity"
            android:label="Rss" >
        </activity>
        <activity
            android:name=".EditActivity"
            android:label="EditActivity" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="SearchActivity" >
        </activity>
        <activity
            android:name=".Setting"
            android:label="Setting" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="TestActivity" >
        </activity>
        <activity
            android:name=".LearnNewActivity"
            android:label="LearnNewActivity" >
        </activity>
        <receiver android:name=".AlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".DeviceBootReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
